.body {
    display: flex;
    flex-direction: column;
   

}

/*
* {
    border: 1px;
    border-color: black;
    border-style: solid; 
}
*/

* {
    color: lightgray;
    background-color: rgb(20, 20, 30);

    font-family: 'Courier New', Courier, monospace;
}

/* HEADER */
.header {
    display: flex;
}

.header_left {
    display:flex;
    justify-content: left;
    flex: 1 1 auto;

}

.header_right {
    display: flex;
    justify-content: right;
    flex: 1 1 auto;
}

.header_right ul , .navigation ul {
    list-style: none;
    margin-block: 0px;
    padding-inline-start: 0;
    display: flex;
}

.logo img {
    height: 30px;
    width: 30px;
    border-radius: 5px;
}


/*NAVIGATION BAR*/

.navigation ul li a{
    padding: 4px 12px 4px 0px;
    text-decoration: none;
}

/*CONTENT*/
.content {
    text-align: center;
}

/*SCORE TABLES*/
.table-container {
    display: flex;
    flex: 1 1 auto;
}

.table {
    display: grid;
    flex: 1 1 0;
    padding: 20px;
    border: 1px solid white;

    column-gap: 1px;
    column-width: 60px;
}

.settings {
    border: 1px solid white;
    padding: 20px;
    width: 30%;
}
.table-head {
    display: flex;
    justify-content: space-around;
    width: max-content;
    border-bottom: 1px solid white;
}

.button {
    background-color: rgb(40, 40, 60);
    flex: 0 0 auto;
    margin-right: 20px;
    margin-left: 20px;
    padding: 4px; 
    width: fit-content;
    min-width: 60px; 
    border-radius: 4px;
    text-align:center;
}

/*SETTINGS*/

.card {
    display:block;
    width:auto;
    flex: 0 1 auto;
    border: 1px solid white;
}
.card.hidden {
    display: none;
}
